<!-- Validação Bootstrap -->
<div class="container">
    <div class="row justify-content-center m-4">
        <div class="col-6">
            <h2>Faça o login para continuar:</h2>
            <form class="row needs-validation" novalidate>
                <div class="col-12 mb-4">
                    <label for="email" class="form-label">E-mail</label>
                    <input type="email" class="form-control" id="email" placeholder="Digite seu e-mail" required>
                    <div class="valid-feedback">
                        Ok!
                    </div>
                </div>
                <div class="col-12 mb-4">
                    <label for="password" class="form-label">Senha:</label>
                    <input type="password" class="form-control" id="password" placeholder="Digite sua senha" required>
                    <div class="valid-feedback">
                        Ok!
                    </div>
                </div>
                <div class="col-12 mb-4">
                    <button class="btn btn-primary" type="submit">Entrar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Validação HTML 5 -->
<div class="container">
    <div class="row justify-content-center m-4">
        <div class="col-6">
            <h2>Faça o login para continuar:</h2>
            <form class="row">
                <div class="col-12 mb-4">
                    <label for="email" class="form-label">E-mail</label>
                    <input type="email" class="form-control" id="email" placeholder="Digite seu e-mail" required>
                </div>
                <div class="col-12 mb-4">
                    <label for="password" class="form-label">Senha:</label>
                    <input type="password" class="form-control" id="password" placeholder="Digite sua senha" required>
                </div>
                <div class="col-12 mb-4">
                    <button class="btn btn-primary" type="submit">Entrar</button>
                </div>
            </form>
        </div>
    </div>
</div>