.height {
    height: 100vh;
    display: flex;
    flex-direction: column;

    .centralize {
        flex: 1;
    }
}

.content {
    margin: 20px;
}

@media(max-width: 600px) {
    .topbar {
        display: none;
    }

}
