<footer class="bg-dark text-center text-white p-4">
    <div class="container ">
        <!-- email -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
            <i class="bi bi-envelope">
            </i>
            marcelo.c.b22@gmail.com
        </a>

        <!-- Linkedin -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
            <i class="bi bi-linkedin">
            </i>
        </a>

        <!-- Github -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
            <i class="bi bi-github">
            </i>
        </a>
    </div>
</footer>