<nav class="navbar navbar-expand-lg navbar-dark bg-dark navcolor">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="">Bootstrap</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item">
                    <a class="nav-link" routerLink="module3/exemplos" routerLinkActive="active">Exemplos</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" routerLink="module4/icons" routerLinkActive="active">Icons</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" routerLink="module5/art-project" routerLinkActive="active">Projeto Art</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" routerLink="module6/content" routerLinkActive="active">Elementos de Conteúdo</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" routerLink="module7/forms" routerLinkActive="active">Formulários</a>
                </li>
            </ul>
        </div>
    </div>
</nav>